
h1 {
  color: #d4ead0;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  /* align-items: center; */
  flex-direction:column;
  align-items: center;
  justify-content: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* background: black; */
  background: #161616;
}



.content-holder {
  /* margin: 0 auto; */
  box-sizing: border-box;
  background:black;
  width: 1200px;
  height: 500px;
  border: 4px solid #3a3a3a;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 15px;
box-shadow: 10px 10px 8px #111111;
  /* box-shadow: 5px 5px #d4ead0, 10px 10px #b497ed; */
  /* margin-bottom: 200px; */
  position: relative;
}

.music-player {
  width: 400px;
  height: 500px;
  box-sizing: border-box;
  /* border-radius: 10px; */
  /* padding: 20px; */
  background-color: #3a3a3a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #d4ead0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 15px;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #b497ed;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #b497ed;
    cursor: pointer;
}

.buttons {
  display:flex;
  align-items: center;
}

.ff-button, .rewind-button {
  width: 32px;
  height: 32px;
  margin: 5px;
}
.ff-button:hover, .rewind-button:hover {
  cursor: pointer;
}

.ff-button img, .rewind-button img{
  width: 32px;
  height: 32px;
}

.play-button {
  width: 64px;
  height: 64px;
  margin: 5px;
}

.play-button:hover {
  cursor: pointer;
}
.play-button img{
  width: 64px;
  height: 64px;
}

.sample-songs {
  width: 95%;
  height: 75%;
  border-radius: 7px;
  overflow-y: scroll;
  /* border-top: 1px solid #d4ead0;
  border-left: 1px solid #d4ead0;
  border-bottom: 1px solid #d4ead0; */
  border: 1px solid #d4ead0;
}

.sample {
  width: 90%;
  height: 50px;
  color: #d4ead0;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d4ead0;
  margin: 10px auto;
  color: #d4ead0;
  transition: all 0.2s linear;
}
.sample.playing {
  /* font-weight: 400; */
  color: #b497ed;
  /* line-height: 48px; */
  border: 1px solid #b497ed;
}
.sample:hover {
  cursor: pointer;
  /* line-height: 48px; */
  border-color: #b497ed;
}

.sample-songs::-webkit-scrollbar-track{
  border-radius: 10px;
}

.sample-songs::-webkit-scrollbar{
  width: 12px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background-color: #d4ead0;
}

.sample-songs::-webkit-scrollbar-thumb{
  background-color: #3a3a3a;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}
.sample-songs::-webkit-scrollbar-thumb:hover{
  cursor: pointer
}

.dropzone {
  width: 150px;
  height: 150px;
  /* border: 1px solid white; */
}


#canvas {
  width: 800px;
  height: 500px;
  background-color: transparent;
}

.direction {
  color: #3a3a3a;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}
